@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  margin-top: 100px;
  margin-bottom: 250px;
  z-index: 1001;
}

.timeline h1 {
  font-family: "Exo 2", sans-serif;
  text-align: center;
  margin-bottom: 100px;
  font-size: 50px;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  z-index: 1002;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.text-box {
  padding: 20px 30px;
  background: rgb(244, 46, 46);
  position: relative;
  border-radius: 10px;
  font-size: 20px;
  z-index: 1003;
}

.text-box h2, small {
  color: white;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 10px;
  font-weight: 600;
}

.textBoxP {
  color: white;
  margin-top: 10px;
  font-family: "Exo 2", sans-serif;
}

.left-container {
  left: -25%;
  z-index: 1002;
}

.right-container {
  left: 25%;
  z-index: 1002;
}

.numIcon {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  font-size: 600%;
  top: 32px;
}

.right-container .numIcon {
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 100%;
  background: rgb(255, 93, 93);
  top: 150px;
  left: 50%;
  margin-left: -6px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 53px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(244, 46, 46);
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 53px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(244, 46, 46);
  left: -15px;
}

@media screen and (max-width: 600px) {

  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    display: none;
  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .left-container {
    left: 0;
  }

  .right-container {
    left: 0;
  }

  .numIcon { 
    left: 10px;
  }

  .right-container .numIcon {
    left: 10px;
  }

  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid rgb(244, 46, 46);
    border-left: 0;
    left: 15px;
  }

}