@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.terms {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.terms h1 {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 40px;
  margin-top: 70px;
}

.terms h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Exo 2", sans-serif;
}

.terms p {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 20px;
}